CONFIG_APP_CALLER=0x4C423B20
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0xF8858
CONFIG_DPRINTF_ADDRESS=0x4C432B28
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C426E68
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C426AF4
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C426AB8
CONFIG_FREE_ADDRESS=0x4C432F58
CONFIG_INIT_STORAGE_CALLER=0x4C40293E
CONFIG_LK_LOG_STORE_ADDRESS=0x4C446084
CONFIG_MALLOC_ADDRESS=0x4C433824
CONFIG_PLATFORM_INIT_ADDRESS=0x4C402910
CONFIG_THREAD_CREATE_ADDRESS=0x4C422C38
CONFIG_THREAD_RESUME_ADDRESS=0x4C422E4C
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C432708

CONFIG_BOOTMODE_ADDRESS=0x0
CONFIG_PLATFORM_INIT_CALLER=0x0
CONFIG_APP_ADDRESS=0x0
CONFIG_FASTBOOT_FAIL_ADDRESS=0x0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x0
CONFIG_MEDIATEK_MT6769=y
CONFIG_TECNO_LE7=y

CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C405C18
